@use "sass:math";
//<МИКСИНЫ>===============================================================================================
@import "mixins";
//</МИКСИНЫ>===============================================================================================

//<ШРИФТЫ>===============================================================================================

//<Подключаем шрифты>=======================================================================================
//&display=swap&subset=cyrillic-ext
@import url("https://fonts.googleapis.com/css?family=Montserrat:400,500,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:700&display=swap");
@import "fonts";
//</Подключаем шрифты>=======================================================================================

//<Иконочные шрифты>==========================================================================================
@import "icons";
//</Иконочные шрифты>==========================================================================================

//<Шрифт по умолчанию>==========================================================================================
$fontFamily: "Montserrat";
$fontSize: 16;
//</Шрифт по умолчанию>==========================================================================================

//</ШРИФТЫ>=======================================================================================================

//<ПЕРЕМЕННЫЕ>==========================================================================================================
$minWidth: 320px;
$maxWidth: 1440;
$maxWidthContainer: 1266;
$md1: $maxWidthContainer + 12;
$md2: 991.98;
$md3: 767.98;
$md4: 479.98;

$mainColor: #000;
$primaryColor: #F78065;

//</ПЕРЕМЕННЫЕ>===========================================================================================================

//<ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================
@import "null";
body {
	color: $mainColor;
	&._lock {
		overflow: hidden;
	}
}
//</ОБНУЛЕНИЕ, ОБЩИЕ ПАРАМЕТРЫ>===============================================================================================

//<ОБОЛОЧКА>===========================================================================================================
.wrapper {
	width: 100%;
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	&._loaded {
	}
}
//</ОБОЛОЧКА>===========================================================================================================

//<ОСНОВНАЯ СЕТКА>===========================================================================================================
._container {
	max-width: $maxWidthContainer + px;
	margin: 0 auto;
  padding: 0 15px;
}
//</ОСНОВНАЯ СЕТКА>===========================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================
@import "forms";
@import "ui";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ UI СТИЛЕЙ, ФОРМ И ГОТОВЫХ КЛАССОВ>====================================================================================================

//<ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================
//@import "datepicker";
//@import "lightgallery";
//@import "pagging";
@import "popup";
@import "header";
@import "footer";
@import "home";
//</ПОДКЛЮЧЕНИЕ ФАЙЛОВ СТИЛЕЙ СТРАНИЦ И ЭЛЕМЕНТОВ>====================================================================================================

//<ОСНОВНОЙ БЛОК>====================================================================================================
.page {
	flex: 1 1 auto;
  &__hello {}
  &__services {
    @include adaptiv-value("padding-top", 400, 160, 1);
    @include adaptiv-value("padding-bottom", 240, 70, 1);
  }
  &__priority {}
  &__managers {
    @include adaptiv-value("padding-top", 240, 80, 1);
    @include adaptiv-value("padding-bottom", 200, 70, 1);
  }
}
//===================================================================================================================================
.hello {
  display: flex;
  background: url('../img/hello-bg.jpg') center / cover no-repeat;
  @include adaptiv-value("min-height", 650, 500, 1);
  &__container {
    flex: 1 1 100%;
    display: flex;
    align-items: flex-end;
  }
  &__body {
    flex: 0 0 741px;
    background-color: #fff;
    padding: 96px 156px 75px 64px;
    box-shadow: 0px 4px 100px 0px #0000001A;
    margin: 113px 0px -22% -40px;
    @media (max-width: 1266px){
      flex: 1 1 auto;
      margin: 70px 0px -22% 0px;
      @include adaptiv-value("padding", 64, 20, 1);
    }
    *:last-child {
      margin-bottom: 0;
    }
  }
  &__title {
    font-family: "Merriweather";
    @include adaptiv-value("font-size", 39, 25, 1);
    line-height: 49 / 39 * 100%;
    margin: 0px 0px 30px/39px * 1em 0px;
    span {
      color: $primaryColor;
    }
  }
  &__text {
    font-weight: 500;
    @include adaptiv-value("font-size", 20, 15, 1);
    line-height: 24 / 20 * 100%;
    margin: 0px 0px 30px/20px * 1em 0px;
    opacity: 0.6;
  }
  &__button {
    margin: 0px 0px 20px 0px;
    padding: 0px 77px;
    @media (max-width:$md4+px){
      width: 100%;
    }
  }
}
//============================================================================
.services {
  &__body {
    @media (min-width: 900px){
      display: flex;
      margin: 0px -20px;  
    }
  }
  &__item {
    @media (min-width: 900px){
      flex: 0 1 33.333%;  
    }
  }
}
.item-services {
  padding: 0px 20px;
  @media (max-width: 900px){
    &:not(:last-child) {margin: 0px 0px 60px 0px;}
    padding: 0;
    text-align: center;
  }
  &__image {
    @include adaptiv-value("margin-bottom", 84, 20, 1);
  }
  &__title {
    font-family: "Merriweather";
    @include adaptiv-value("font-size", 24, 20, 1);
    line-height: 30 / 24 * 100%;
    margin: 0px 0px 20px/24px * 1em 0px;
  }
  &__text {
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 22 / 18 * 100%;
    opacity: 0.5;
    margin: 0px 0px 20px/24px * 1em 0px;
  }
  &__desc {
    font-weight: 700;
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 22 / 18 * 100%;
    margin: 0px 0px 20px/24px * 1em 0px;
    color: $primaryColor;
  }
}
//============================================================================
.priority {
  &__title {
    @include adaptiv-value("margin-bottom", 100, 40, 1);
  }
  &__items {
    display: grid;
    gap: 45px;
    grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  }
}
.item-priority {
  display: flex;
  flex-direction: column;
  *:last-child {
    margin-bottom: 0;
  }
  &__image {
    @include adaptiv-value("margin-bottom", 60, 20, 1);
  }
  &__title {
    margin: 0px 0px 30px/22px * 1em 0px;
  }
  &__text {
    margin: 0px 0px 15px/14px * 1em 0px;
    flex: 1 1 auto;
  }
  &__link {
    font-weight: 700;
    color: $primaryColor;
    font-size: 18px;
    line-height: 22 / 18 * 100%;
    margin: 0px 0px 20px 0px;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
//============================================================================
.managers {
  &__body {
    @media (min-width:$md3+px){
      display: flex;
      align-items: flex-start; 
    }
  }
  &__info {
    flex: 1 1 auto;
    margin-bottom: 30px;
    @media (min-width:$md3+px){
      @include adaptiv-value("margin-right", 40, 20, 1);
      margin-bottom: 0;
    }
  }
  &__title {
    margin: 0px 0px 30px/36px * 1em 0px;
  }
  &__text {
    @include adaptiv-value("font-size", 18, 16, 1);
    line-height: 22 / 18 * 100%;
    opacity: 0.5;
    margin: 0px 0px 48px/18px * 1em 0px;
    @media (max-width:$md3+px){
      margin: 0px 0px 38px/18px * 1em 0px;
    }
  }
  &__button {
    padding: 0px 90px;
    @media (max-width:$md4+px){
      width: 100%; 
    }
  }
  &__content {
    flex: 0 0 788px;
    @include adaptiv-value("flex-basis", 788, 188, 1);
    display: flex;
    justify-content: space-between;
    @media (max-width:$md3+px){
      margin: 0px -10px; 
    }
    @media (max-width:$md4+px){
       overflow: auto; 
    }
  }
}
.content-managers {
  &__item {
    flex: 0 0 230px;
    @include adaptiv-value("flex-basis", 230, 80, 1);
    @media (max-width:$md3+px){
      flex: 0 0 33.333%; 
      padding: 0px 10px;
    }
    @media (max-width:$md4+px){
      flex: 0 0 90%; 
      margin: 0px 0px 30px 0px;
    }
    *:last-child() {
      margin-bottom: 0;
    }
  }
  &__image {
    display: block;
    padding: 0px 0px 418px/230px * 100% 0px;
    margin: 0px 0px 25px 0px;
    @media (any-hover: hover){
      img {
        transition: all 0.2s ease 0s;
        filter: grayscale(1);
      }
      &:hover{
        img {
          filter: grayscale(0);
        }
      }
    }
  }
  &__title {
    font-family: "Merriweather";
    font-weight: 700;
    @include adaptiv-value("font-size", 24, 20, 1);
    line-height: 30 / 24 * 100%;
    margin: 0px 0px 8px/24px * 1em 0px;
  }
  &__place {
    color: #3F3D56;
    font-size: 14px;
    line-height: 17 / 14 * 100%;
    margin: 0px 0px 10px/14px * 1em 0px;
  }
  &__link {
    color: $primaryColor;
    font-weight: 500;
    font-size: 18px;
    line-height: 22 / 18 * 100%;
    margin: 0px 0px 10px/18px * 1em 0px;
    @media (any-hover: hover){
      &:hover{
        text-decoration: underline;
      }
    }
  }
}
//============================================================================

//</ОСНОВНОЙ БЛОК>====================================================================================================
